@use "../global" as g;

/*!
layout > footer
------------------------------
*/

.footer {
    padding: 32px 0;
    text-align: center;
}

.footer-logo {
    width: 150px;
    margin-inline: auto;
}

.footer-copyright {
    font-size: 12px;
    line-height: 1;
    font-family: var(--font-family-en);
}
