@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/

.top-kv {
    aspect-ratio: 360/500;
    background-image: url(../img/bg-top-kv.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include g.mq() {
        height: 650px;
        aspect-ratio: inherit;
    }
}

.top-kv-copy {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @include g.mq() {
        margin-bottom: 40px;
        gap: 32px;
    }
}

.top-kv-text {
    font-family: var(--font-family-en);
    line-height: 1;

    &:nth-child(1) {
        font-size: 18px;
        letter-spacing: 0.4em;
        padding-left: 0.4em;

        @include g.mq() {
            font-size: 32px;
        }
    }

    &:nth-child(2) {
        font-size: 26px;
        letter-spacing: 0.4em;
        padding-left: 0.4em;

        @include g.mq() {
            font-size: 58px;
        }

        @include g.mq(lg) {
            font-size: 72px;
        }
    }

    &:nth-child(3) {
        font-size: 14px;
        letter-spacing: 0.2em;
        padding-left: 0.2em;

        @include g.mq() {
            font-size: 24px;
        }
    }
}
